html {


}

body{
    background-color: #e2ecf7;
    position: relative;
}
.container {
  text-align: center;
  color: pink;
  height: 10%;
}

#bann img{
    width: 100%;
    height: 10%;
    z-index:-1;

}
.centered {
    font-family: 'ZCOOL KuaiLe', cursive;
    z-index:-2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#results {
    padding: 50px;
}
#results img {
    max-width: 150px;
}