html {


}

.container {
  position: relative;
  text-align: center;
  color: pink;
}
.centered {
    font-family: 'ZCOOL KuaiLe', cursive;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}