<!DOCTYPE html>
<title>Rebust</title>

<head>
    {% block head %}
    <title>Rebust</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/main.js') }}"></script>
    <link href="https://fonts.googleapis.com/css?family=ZCOOL+KuaiLe" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merienda" rel="stylesheet">
    <style>
        button{background-color: #008CBA;
               border: none;
               color: white;
               border-radius: 4px;
               padding: 15px 32px;
               text-align: center;
               text-decoration: none;
               display: inline-block;
               font-size: 16px;
        }
        #bish{
            text-align: center;
            margin-top: 1em;
        }
        import url('https://fonts.googleapis.com/css?family=Merienda');
    </style>
    {% endblock %}
</head>
<body style="background-color:#e2ecf7;margin:0px;">
<div class="container" style="text-align:center;height:10%;">
    <div id = "bann">
        <img src="{{ url_for('static', filename='pics/banner.jpg') }}" alt="Banner" style = "width:100%;height:100px;padding:0px;margin:0px;"/>
        <img src="{{ url_for('static', filename='pics/file.jpg')}}" style = "display:block;width:100%;height:20px;"/>
    </div>
    <div class="centered" style="position:absolute;top: 10%;left: 50%;transform: translate(-50%, -50%);"><h1 style="font-family:Merienda">Rebust!</h1></div>
</div>

<div id="content">{% block content %}{% endblock %}</div>
<div id="footer">
    {% block footer %}
    <!--&copy; Copyright 2010 by <a href="http://domain.invalid/">you</a>.-->
    {% endblock %}
</div>
</body>
