{% extends 'base.html' %}


{% block content %}
<div id="home">
<div id="bish">
    <button onclick="append_img_input()">Upload Image</button>
    <button onclick="append_url_input()">Upload Image URL</button>
    <button onclick="append_text_input()">Upload Text</button>
    <br><br>
    <button onclick="add_word()">Add New Word</button>
</div>

<form id="rebus_form" action = "/" method = "POST" enctype = "multipart/form-data">
    <input type="hidden" id="size" name="size" value="0-0"/>
    <input type="submit" value="Submit Rebus"/><br>
</form>
<br><br>
<p>{{ extra_text }}</p>
</div>
<!--<img src="{{ user_image }}" alt="User Image">-->
{% endblock %}

